{% extends "myweb/base.html" %}
{% load static from staticfiles %}

{%block link%}
	<link rel="stylesheet" href="{% static 'myweb/css/czche.css' %}">

{%endblock%}

{%block js%}
{%endblock%}


{%block neirong%}
	<br><br>
	<div class="container" >
		<form action="{% url 'ordersconfirm' %}" method="post" >
		 {% csrf_token %}
			<div class="row" >
				<div class="panel panel-default">
				    <div class="panel-heading gouwu" style="padding-left: 70px;">
				    	<h4>确认收货信息</h4>
				    </div>
				  	<div class="panel-body" style="text-align: center">
						<div class="col-xs-12">
							<div class="row xinxi" >
								<div class="col-md-2 col-xs-4" style="text-align: center;margin-left: 0;">姓名</div>
								<div class="col-md-2 col-xs-2" style="text-align: center">邮编</div>
								<div class="col-md-2 col-xs-2" style="text-align: center">电话</div>
								<div class="col-md-4 col-xs-2" style="text-align: center">地址</div>
								<div class="col-md-2 col-xs-2" style="text-align: center">总金额</div>
							</div>
							<div class="row" >
							<!-- 名字 -->
								<div class="col-md-2 col-xs-2 jiage zhanshi1 gg xiaoji" >
									<span class="manage-address"><input type="text" name="linkman" value="{{request.session.user.username}}" style="border: none;text-align: center;" /></span>
								</div>
							<!-- 邮编 -->
								<div class="col-md-2 col-xs-2 jiage zhanshi1 gg xiaoji" >
									 <span class="manage-address"><input type="text" name="code" value="{{request.session.user.code}}" style="border: none;text-align: center;"/></span>
								</div>
								<!-- 电话 -->
								<div class="col-md-2 col-xs-6 jiajian  zhanshi1 f1">
									<span class="manage-address"><input type="text" name="phone" value="{{request.session.user.phone}}" style="border: none;text-align: center;"/></span>
								</div>
								<!-- 地址 -->
								<div class="col-md-4 col-xs-2  zhanshi1 jiage xiaoji gg" >
									<span class="manage-address"><input type="text" name="adress" value="{{request.session.user.adress}}" style="border: none;text-align: center;"/></span>
								</div>
							<!-- 小计 -->
								<div class="col-md-2 col-xs-2 zhanshi1 caozuo ">
									<span class="manage-address"><input type="text" name="total" value="{{request.session.total}}" style="border: none;text-align: center;"/></span>
								</div>
							<!-- 展示1结束 -->
							</div><hr>
						</div>
				  	</div>
				</div>
			</div>
			<br><br><br>
			<div class="row" s>
				<div class="panel panel-default">
				    <div class="panel-heading gouwu" style="padding-left: 70px;">
				    	<h4>确认商品信息</h4>
				    </div>
				  	<div class="panel-body row tupian" tyle="text-align: center">
						<div class="col-xs-12">
							<!-- 商品信息行 -->
							<div class="row ">
								<div class="col-md-2 col-xs-4" style="padding-left: 50px;">编号</div>
								<div class="col-md-2 col-xs-2" style="text-align: center">名称</div>
								<div class="col-md-2 col-xs-2" style="text-align: center">图片</div>
								<div class="col-md-2 col-xs-2" style="text-align: center">单价</div>
								<div class="col-md-2 col-xs-2" style="text-align: center">数量</div>
								<div class="col-md-2 col-xs-2" style="text-align: center">小计</div>
							</div><hr>
							{% for shop in request.session.orderlist.values %}
							<div class="row zhanshi1" style="margin-top: 20px;text-align: center;padding-bottom: 0">
								<!-- id-->
								<div class="col-md-21 col-xs-2 caozuo" >
									<span class="manage-address"><input type="text" readonly value="{{shop.id}}" style="border: none;text-align: center;margin-left: -42px"/></span>
								</div>
								<!-- 名称 -->
								<div class="col-md-2 col-xs-2 caozuo" >
									 <span class="manage-address"><input type="text" readonly  value="{{shop.goods}}" style="border: none;text-align:center;"/></span>
								</div>
								<!-- 图片 -->
								<div class="col-md-2 col-xs-6 caozuo" style="text-align: center;">
									<span class="manage-address"><img src="/static/goods/s_{{ shop.picname }}" style="margin-left: 45px;"></span>
								</div>
								<!-- 单价 -->
								<div class="col-md-2 col-xs-2 caozuo" >
									<span class="manage-address"><input type="text" readonly value="{{ shop.price}}" style="border: none;text-align: center;"/></span>
								</div>
								<!-- 数量 -->
								<div class="col-md-2 col-xs-2  caozuo " >
									<span class="manage-address"><input type="text" readonly value="{{ shop.m}}" style="border: none;text-align: center;"/></span>
								</div>
								<!-- 小计 -->
								<div class="col-md-2 col-xs-2  caozuo ">
									<span class="manage-address"><input type="text" readonly value="{% widthratio  shop.price 1 shop.m %}" style="border: none;text-align: center;font-style: bold;color: #D44D44"/></span>
								</div>
							</div>
							{%  endfor %}	
				  		</div>
					</div>
				</div>
			</div>
	  		<!-- 结算尾部 -->
		  	<div class="panel-footer">
				<div class="row "><br>
					<div class="col-md-1 col-xs-12 col-sm-12 jiesuan" >
						<a href="{% url 'ordersconfirm' %}">
						<button  type="submit" class="btn btn-primary" style="margin-top:-7px;margin-left:950px">确认订单</button></a>
					</div>
				</div>
			<!-- end结算尾部 -->
		  	</div>
		</form>
	</div>
	<br class="hidden-xs"><br class="hidden-xs">
{%endblock%}



	

