{% extends "myadmin/base.html" %}
{ % load static from staticfiles %}

{% block css %}
{% endblock %}

{% block indexbody %}
	<h3>
		订单详情浏览
	</h3>
	<table class="table table-bordered table-striped">
		<tr>
			<th>订单编号</th>
			<th>商品编号</th>
			<th >商品名称</th> 
			<th >商品价格</th> 
			<th >商品数量</th>
			<th>操作</th>
		</tr>
		{% for details in detailxq %}
		<tr>
			<input type="hidden" name="orders.id" value="orders.id ">
			<td>{{ details.orderid }}</td>
			<td>{{ details.goodsid }}</td>
			<td>{{ details.name }}</td>
			<td>{{ details.price}}</td>
			<td>{{ details.num }}</td>
			<td>
				<a href="{% url 'orderssee' 1 %}">返回</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	<div class="pagination">		
		<ul>
		{% for pindex in plist %}
		    <li><a href="{% url 'orderssee' pindex %}">{{ pindex }}</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
		{% endfor %}
		</ul>
	</div>	
{% endblock %}



