{% extends "myadmin/base.html" %}
{ % load static from staticfiles %}

{% block css %}
{% endblock %}

{% block indexbody %}
	<h3>
		订单信息浏览
	</h3>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>订单号</th>
				<th>会员id号</th>
				<th>联系人</th>
				<th >地址</th> 
				<th >邮编</th> 
				<th >电话</th>
				<th >总金额</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		{% for orders in list2 %}
			<tr>
				<input type="hidden" name="orders.id" value="orders.id ">
				<td>{{ orders.id}}</td>
				<td>{{ orders.uid }}</td>
				<td>{{ orders.linkman }}</td>
				<td>{{ orders.adress }}</td>
				<td>{{ orders.code}}</td>
				<td>{{ orders.phone }}</td>
				<td>{{ orders.total }}</td>
				<td> 
				{% if orders.status == 0 %}
				新订单
				{% elif orders.status == 1 %}
				已发货
				{% elif orders.status == 2 %}
				已收货
				{% elif orders.status == 3 %}
				无效订单
				{% else %}
				已下架
				{% endif %}
				 </td>
				<td>
					<a href="{% url 'orderdetail' orders.id %}">查看详情</a>
					<a href="{% url 'orderedit' orders.id %}">编辑状态</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<div class="pagination">		
		<ul>
		{% for pindex in plist %}
		    <li><a href="{% url 'orderssee' pindex %}">{{ pindex }}</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
		{% endfor %}
		</ul>
	</div>	
{% endblock %}



