body{background: #EDEDED;margin: 0;padding: 0;}
.divv {padding: 31px 0;}
.ull{list-style: none;height: 28px;padding-left: 0;}
.ull li{padding-left: 20px;}
.ull a{padding-right: 20px;color: #666666;}
.ull a:hover{color: #337AB7;}
.dao .navbar-text{font-size:13px;color: #C8C8C8;margin-bottom: 15px;font-weight: 400;background: #EDEDED;}
.dao .navbar-text li{margin-left: 20px;padding-left: 0;}
.dao div,ul,li{padding-left: 0;margin-left: 0;}
.navbar-text{font-size:15px;color: #C8C8C8;margin-bottom: 15px;font-weight: 400;}
.navbar-text:hover{color: #fafafa;}
.navbar-brand{padding-left: 150px;}
.goods-list div {padding: 0;}
.goods-list  {padding: 0;}
.remen .navbar-text{font-size: 18px;color: #666666}
.container div{margin: 0;}
.shangpin div{padding: 0;}
.a div{padding: 0;}
.remen .b{height: 100%;;padding:20px 0;}
.c div{padding: 0;}
.remen .d{margin: 10px;}
.e img{padding: 25px;}
a{text-decoration: none}
.f a{color: #969696;}
.dropdown-menu{width: 500px;}
.ii div{background: #fff;margin: 0;padding: 0;}
.dao a {text-decoration: none;font-size: 14px;color: #666666;}
.dao a:hover{color: #337AB7;}
.dao span{margin-right: 40px;}
.biankuang{border:1px solid #337AB7;}
.biankuang2{height: 350px;}
.a a,p{text-align: center;text-decoration: none;}
.a a h5{color:#424242; }
.a a h6{color:#D0D0D0; }
.a p{color: #DC4D44;font-weight: bold;}
.a a:hover{color: #337AB7;}
.pp2 {display:none; }
.pp1{margin-top:28px;}
.yinying{box-shadow: 0 0 0 3px #9DBFF2;}
.zz h6{text-align: center;}
.sj a{color: #666666;}
.sj a:hover{color: #1A1AA6;}

.zz{padding-top: 20px;}
.zz span{padding-right:40px;}
.ff p{text-align: center;}








