body{background: #EDEDED;margin: 0;padding: 0;}
.dao .navbar-text{font-size:13px;color: #C8C8C8;margin-bottom: 15px;font-weight: 400;background: #EDEDED;}
.dao .navbar-text li{margin-left: 20px;padding-left: 0;}
.dao div,ul,li{padding-left: 0;margin-left: 0;}
.dao a {text-decoration: none;font-size: 14px;color: #666666;}
.dao a:hover{color: #337AB7;}
.navbar-text{font-size:15px;color: #C8C8C8;margin-bottom: 15px;font-weight: 400;}
.navbar-text:hover{color: #fafafa;}
.navbar-brand{padding-left: 150px;}
.container div{margin: 0;}
.dropdown-menu{width: 500px;}
.t .o {background: #fff;}
.xinxi p{font-size: 18px;color: #666666}
.xinxi div{margin: 0;padding: 0;}
.k {padding: 0;}
.p div{float: left;}
.j p{padding: 0;color: #757575;font-size: 18px;}
.j .r{font-weight: bold;color: #D44D44;}
.j {color: #757575;}
.m div{float: left;}
div{border-radius: }
.zz span{padding-right:40px;}
.zz{padding-top: 20px;}
.jianhao{float: left;margin-top: 5px;}
.jiahao{float: left;margin-top: 5px;margin-right: 15px;}
.shuliang{color:#8D8D8D;float:left;margin-right: 15px;}
.yi{color:#666666;float:left;margin-right: 15px;}
.ling{border:1px solid grey;border-radius: 50%;width:5px;color: white;}
.zz h6{text-align: center;}
.ff p{text-align: center;}
.f a{color: #969696;}


	